.slideshow {
    position: relative;
    margin  : auto;
    display : grid;
    height  : 100%;
}
.slideshow, .slideshow * {
    box-sizing: border-box;
}
.slideshow .slider {

    background-size     : cover;
    background-position : center;
    display             : none;
}
.slideshow .slider.active {
    display: block;
    animation       : slideshow-fadein 1s;
}
.slideshow .infobar {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    right           : 0;
    text-align      : center;
    padding         : .5em;
    background-color: #0003
}
.slideshow .clicker {
    display         : block;
    width           : 10px;
    height          : 13px;
    display         : inline-block;
    transform       : skew(-33deg);
    margin          : 0 .2em;
    border-radius   : .2em;
    border          : 1px solid white;
    box-shadow      : 0px 0px 4px #000;
    cursor          : pointer;
}
.slideshow .clicker-wrapper {
    display: inline-block;
}
.slideshow .controll {
    display     : inline-block;
    color       : #fff;
    font-size   : 1.2em;
    margin      : 0 .5em;
    text-shadow : 0px 0px 3px #000;
    cursor      : pointer;
}
.slideshow .clicker.active {
    background-color: #0008;
}
